.workDetails__images {
	justify-self: right;
	width: auto;
	max-width: 480px;
	min-height: calc(100vh - 112px - 40px);
	padding: 105px 20px 20px;
	border-right: 1px solid var(--darkGray);
	box-sizing: content-box;

	&__image {
		width: 100%;
		box-shadow: 0px 3px 10px 0px rgba(25, 25, 25, 0.2);
		cursor: pointer;

		&:not(:first-child) {
			margin-top: 30px;
		}
	}
}

.mobileView .workDetails__images {
	grid-row: 2 / 3;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-self: center;
	justify-content: space-around;
	border-right: 0;
	padding: 0;
	max-width: none;
	min-height: initial;

	&__image {
		flex: 1 1 auto;
		margin: 10px 0;
		max-width: 500px;
	}
}
