@import "variables";

// navbar
.mainNav {
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: 1px solid $darkGray;
	background-color: $lightGray;
	padding: 0 30px;
	width: 100%;
	height: 85px;

	> * {
		display: flex;
	}

	&__links {
		display: none;

		&__item {
			.is-current {
				text-decoration: underline;
			}

			&__link:link,
			&__link:visited {
				font-size: 1.25rem;
				line-height: 1;
			}

			&:not(:first-child) {
				margin-left: 30px;
			}
		}
	}

	&__social {
		&__icon {
			width: 24px;
			height: 24px;

			&__image {
				width: 100%;
				height: 100%;
			}

			&:not(:first-child) {
				margin-left: 30px;
			}
		}
	}

	&--fixed {
		position: fixed;
		z-index: 100;
		justify-content: space-between;

		& .mainNav {
			justify-content: center;

			&__links {
				display: flex;
			}
		}
	}
}
