@import "utilities/variables";

$tagColors: (
	("web-development", $yellowColor),
	("design", $purpleColor),
	("podcast-production", $greenColor),
	("video-production", $blueColor),
	("animation", $orangeColor)
);

.workItem {
	background-size: cover;
	background-position: center top;
	border: 1px solid $darkGray;
	display: block;
	height: 480px;
	position: relative;
	cursor: pointer;
	overflow: hidden;
	z-index: 0;

	&:before {
		content: "";
		background-color: $lightGray;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		opacity: 1;
		transition: all 0.5s ease-in-out;
		z-index: -1;
	}

	&:hover:before {
		transform: scaleY(0);
	}

	&:after {
		content: "";
		background-color: $lightGray;
		opacity: 0.75;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: -2;
	}

	&__label {
		font-size: 1.15rem;
		text-align: center;
		padding: 20px;
	}

	&__title {
		text-align: center;
		width: 100%;
		padding: 0 10px;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);

		&__text {
			font-size: 3rem;
			line-height: 1.15em;
		}
	}

	.tags {
		padding: 15px;
		width: 100%;
		position: absolute;
		left: 0;
		bottom: 0;
	}

	.tag {
		&:hover {
			color: $darkGray;

			.tag__hole {
				background-color: $lightGray;
			}

			@each $workType, $color in $tagColors {
				&.tag--#{$workType} {
					background-color: #{$color};

					.tag__point {
						background-color: #{$color};
					}
				}
			}
		}
	}
}
