.homePage {
	.header {
		margin: 20px 0;
	}
}

.splashScreen {
	&__wrapper {
		background-size: contain;
		background-color: var(--darkGray);
		width: 100%;
		height: calc(40vh + 85px);
		max-height: 400px;
		position: relative;

		&:after {
			content: "";
			background: url(https://s3-us-west-1.amazonaws.com/msandberg-portfolio-2018/splashscreen.gif);
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			opacity: 0.15;
		}
	}

	&__heading {
		font-size: 7vmin;
		line-height: 1.2;
		color: var(--lightGray);
		text-align: left;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		white-space: nowrap;
	}
}

