Options -MultiViews
RewriteEngine on
RewriteCond %{HTTP_HOST} ^mikkelsandberg\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.mikkelsandberg\.com$
RewriteCond %{REQUEST_URI} !^/[0-9]+\..+\.cpaneldcv$
RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
RewriteRule ^beta$ "http\:\/\/beta\.mikkelsandberg\.com\/" [R=301,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.html [QSA,L]