@import "utilities/variables";

$filterColors: (
	("red", $redColor),
	("yellow", $yellowColor),
	("purple", $purpleColor),
	("green", $greenColor),
	("blue", $blueColor),
	("orange", $orangeColor)
);

.filters__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	max-width: 1024px;
	margin: 20px auto;
}

.filter {
	font-size: 1.25rem;
	line-height: 1;
	border: 1px solid $darkGray;
	padding: 10px;
	margin: 10px;
	cursor: pointer;
	position: relative;
	overflow: hidden;

	&::selection {
		background: transparent;
	}

	&:hover:after {
		transform: scaleX(1);
		transform-origin: center left;
	}

	&:after {
		content: "";
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		transform: scaleX(0);
		transform-origin: center right;
		transition: transform 0.35s ease-in-out;
		z-index: -1;
	}

	@each $filter, $color in $filterColors {
		&--#{$filter}:after {
			background-color: #{$color};
		}
	}

	&--active {
		color: $lightGray;
		background-color: $darkGray;
	}
}
