@import "utilities/variables";

.filters__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	max-width: 1024px;
	margin: 20px auto;
}

.filter {
	font-size: 1.25rem;
	line-height: 1;
	border: 1px solid $darkGray;
	padding: 10px;
	margin: 10px;
	cursor: pointer;

	&::selection {
		background: transparent;
	}
}

.filter--active {
	color: $lightGray;
	background-color: $darkGray;
}
