@import "utilities/variables";
@import "utilities/sectionHeader";
@import "utilities/tags";

// my work
#myWorkWrapper {
	padding-top: 105px;

	nav {
		margin: 20px 0;

		ul {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			max-width: 1024px;
			margin: 0 auto;

			li {
				font-size: 1.25rem;
				line-height: 1;
				border: 1px solid $darkGray;
				padding: 10px;
				margin: 10px;
				cursor: pointer;

				&.active {
					color: $lightGray;
					background-color: $darkGray;
				}

				&::selection {
					background: transparent;
				}

				// filter hover fx
				&[class*="filterTab"] {
					position: relative;
					overflow: hidden;

					&:hover:after {
						transform: scaleX(1);
						transform-origin: center left;
					}

					&:after {
						content: "";
						width: 100%;
						height: 100%;
						position: absolute;
						left: 0;
						top: 0;
						transform: scaleX(0);
						transform-origin: center right;
						transition: transform 0.35s ease-in-out;
						z-index: -1;
					}

					&[class*="_redColor"]:after {
						background-color: $redColor;
					}

					&[class*="_yellowColor"]:after {
						background-color: $yellowColor;
					}

					&[class*="_purpleColor"]:after {
						background-color: $purpleColor;
					}

					&[class*="_greenColor"]:after {
						background-color: $greenColor;
					}

					&[class*="_blueColor"]:after {
						background-color: $blueColor;
					}

					&[class*="_orangeColor"]:after {
						background-color: $orangeColor;
					}
				}
			}
		}
	}
}
