@import 'utilities/variables';
@import 'utilities/tags';

// my work
#myWorkWrapper {
	padding-top: 115px;

	header {
		h2 {
			font-size: 4.4rem;
			line-height: 1;
			text-align: center;
		}
	}

	nav {
		margin: 20px 0;

		ul {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			max-width: 1024px;
			margin: 0 auto;

			li {
				font-size: 1.25rem;
				line-height: 1;
				border: 1px solid $darkGray;
				padding: 10px;
				margin: 10px;
				cursor: pointer;

				&.active {
					color: $lightGray;
					background-color: $darkGray;
				}

				&::selection {
					background: transparent;
				}

				// filter hover fx
				&[class*='filterTab'] {
					transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border-color 0.3s ease-in-out;

					&:hover {
						color: $darkGray;
					}

					&[class*='_redColor']:hover {
						background-color: $redColor;
						border-color: $redColor;
					}

					&[class*='_yellowColor']:hover {
						background-color: $yellowColor;
						border-color: $yellowColor;
					}

					&[class*='_purpleColor']:hover {
						background-color: $purpleColor;
						border-color: $purpleColor;
					}

					&[class*='_greenColor']:hover {
						background-color: $greenColor;
						border-color: $greenColor;
					}

					&[class*='_blueColor']:hover {
						background-color: $blueColor;
						border-color: $blueColor;
					}

					&[class*='_orangeColor']:hover {
						background-color: $orangeColor;
						border-color: $orangeColor;
					}
				}
			}
		}
	}
}
