// mixins
@mixin positionNavSection($side, $value) {
	position: absolute;
	#{$side}: $value;
	top: 50%;
	transform: translateY(-50%);
}

// navbar
.mainNav {
	border-bottom: 1px solid var(--darkGray);
	background-color: var(--lightGray);
	width: 100%;
	height: 85px;
	position: relative;

	&__mobileMenuIcon {
		@include positionNavSection(left, 30px);
		pointer-events: none;
		opacity: 0;
		transition: opacity 0.75s ease-in-out;
	}

	&__links {
		display: flex;
		pointer-events: none;
		opacity: 0;
		@include positionNavSection(left, 30px);
		transition: opacity 0.75s ease-in-out;

		&__item {
			&__link {
				&:link,
				&:visited {
					font-size: 1.25rem;
					line-height: 1;
					text-decoration: none;
				}
			}

			&:not(:first-child) {
				margin-left: 30px;
			}

			.is-current {
				text-decoration: underline;
			}

			&--mobile:not(:first-child) {
				margin-top: 1em;
			}
		}

		&--mobile {
			background-color: rgba(255, 255, 255, 0.8);
			width: 100%;
			height: calc(100% - 85px);
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			position: fixed;
			left: 0;
			top: 85px;
			transform: translateX(-100%);
			transition: transform 0.5s ease-in-out;

			& .mainNav__links {
				&__item {
					&__link {
						&:link,
						&:visited {
							font-size: 1.5rem;
						}
					}

					&:not(:first-child) {
						margin: 1em 0 0;
					}
				}
			}
		}
	}

	&__social {
		display: flex;
		@include positionNavSection(left, 50%);
		transform: translate(-50%, -50%);
		transition: left 0.75s ease-in-out;

		&__icon {
			&:not(:first-child) {
				margin-left: 30px;
			}

			&__link:link,
			&__link:visited {
				text-decoration: none;
			}
		}
	}

	&--fixed {
		position: fixed;
		top: 0;
		z-index: 100;
		justify-content: space-between;

		& .mainNav {
			&__mobileMenuIcon {
				cursor: pointer;
			}

			&__mobileMenuIcon,
			&__links {
				pointer-events: all;
				opacity: 1;
			}

			&__social {
				left: calc(100% - 30px - 186px);
				transform: translate(0, -50%);
			}
		}
	}
}
