@import "structure";
@import "tags";
@import "typography";
@import "variables";

// master styles
* {
	box-sizing: border-box;
}

body {
	// font-family: "kepler-std", serif;
	font-family: "fira-sans", sans-serif;
	font-size: 16px;
	color: $darkGray;
	background-color: $lightGray;
}

a {
	&:link,
	&:visited {
		color: $darkGray;
		text-decoration: none;
	}

	&:hover {
		color: $darkGray;
	}
}
