$tagColors: (
	('web-development', var(--yellowColor)),
	('design', var(--purpleColor)),
	('podcast-production', var(--greenColor)),
	('video-production', var(--blueColor)),
	('animation', var(--orangeColor))
);

.workItem {
	border: 1px solid var(--medGray);
	border-radius: 4px;
	box-shadow: 2px 2px 6px 0 var(--medGray);
	display: block;
	height: 500px;
	position: relative;
	cursor: pointer;
	overflow: hidden;
	z-index: 0;

	&:link,
	&:visited {
		text-decoration: none;
	}

	&__image {
		background-size: cover;
		background-position: center top;
		box-shadow: 0px 0px 10px 0px var(--medGray);
		width: 100%;
		height: calc(300px / (16 / 9));
	}

	&__label {
		font-size: 1.15rem;
		line-height: 1.2em;
		text-align: center;
		padding: 15px 15px 7px;

		&:after {
			content: '';
			background-color: var(--darkGray);
			display: block;
			width: 5ex;
			height: 1px;
			margin: 10px auto 0;
		}
	}

	&__title {
		text-align: center;
		width: 100%;
		padding: 0 15px;

		&__text {
			font-size: 2rem;
			line-height: 1.1em;
			min-height: 4ch;
		}
	}

	&__description {
		padding: 15px 15px 0;

		&__text {
			line-height: normal;
		}
	}

	.tags {
		padding: 10px;
		width: 100%;
		position: absolute;
		left: 0;
		bottom: 0;
	}

	.tag {
		&:hover {
			color: var(--darkGray);

			.tag__hole {
				background-color: var(--lightGray);
			}

			@each $workType, $color in $tagColors {
				&.tag--#{$workType} {
					background-color: #{$color};

					.tag__point {
						background-color: #{$color};
					}
				}
			}
		}
	}
}

.mobileView {
	.workItem {
		flex: 0 1 100%;
		margin: 0 0 20px;
		display: flex;
		height: auto;

		&__image {
			flex: 0 0 auto;
			background-position: center top;
			width: 220px;
			height: auto;
		}

		&__details {
			flex: 0 1 auto;
		}

		&__title {
			&__text {
				min-height: auto;
			}
		}

		& .tags {
			position: static;
		}
	}
}

@media screen and (max-width: 480px) {
	.mobileView {
		.workItem {
			flex-wrap: wrap;

			&__image {
				flex: 1 0 100%;
				width: auto;
				height: 200px;
			}
		}
	}
}
