.aboutMe {
	&__wrapper {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		max-width: 620px;
		padding: 0 20px;
		margin: 0 auto 20px;
	}

	&__profilePic {
		flex: 0 1 auto;
		border-radius: 50%;
		width: 100%;
		max-width: 220px;
	}

	&__intro {
		flex: 0 1 auto;

		&__stat {
			font-size: 1.1rem;
			line-height: 1.15;
			display: flex;
			margin: 20px;

			&:not(:first-of-type) {
				margin-top: 20px;
			}

			&__icon {
				min-width: 1em;
			}

			&__text {
				margin-left: 10px;
			}
		}
	}

	&__body {
		flex: 1 0 100%;
		margin-top: 40px;

		&__introText {
			font-size: 2rem;
			line-height: normal;
			margin-bottom: 20px;
		}

		&__text {
			font-size: 1.15rem;
			line-height: 1.7;
		}
	}
}
